html, body { height: 100%; width: 100%; margin: 0; }
#map { 
	height: 90%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: 0;
  padding: 0;
 }

 .choice input {
	 margin-top:0px;
 }

.popup {
	padding: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.well {
	margin-bottom: 5px;
}