
#map { 
	height: 90%;
	position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: 0;
  padding: 0;
 }



.popup {
	padding: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.well {
	margin-bottom: 5px;
}