html, body { height: 100%; width: 100%; margin: 0; }
#map { 
	height: 90%;
 }

 .choices button {
	 padding: 10px;
 }

.popup {
	padding: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.well {
	margin-bottom: 5px;
}

.well.choice {
	background-color: #EAF8F8;
}

.btn-info.active {
	background-color: #f89406;
}